annotated-doc
annotated-types
anyio
cachetools
certifi
cffi
charset-normalizer
click
cryptography
deprecation
distro
fastapi
fsspec
google-ai-generativelanguage
google-api-core>=2.30.3
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
grpcio>=1.80.0
grpcio-status>=1.75.1
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
iniconfig
markdown-it-py
mdurl
mmh3
multidict
packaging
pluggy
postgrest
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyparsing
pytest
pytest-asyncio
pytest-mock
python-dateutil
python-dotenv
python-multipart
realtime
requests
rich
six
sniffio
starlette
storage3
StrEnum
strictyaml
supabase
supabase-auth
supabase-functions
tenacity
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
websockets
yarl
zstandard
